<br>
<br>
<div class="choose-character-container col-xs-2">
  <div class="choose-character" style="background-image: url({{model.character.image}});">
  </div>
</div>
<h1>Hello, {{model.character.name}}</h1>

<h5>(It was {{model.answer.who.name}} in the {{model.answer.where.name}} with the {{model.answer.how.name}}.)</h5>

<!-- {{board-room model=model makeGuess='makeGuess'}}


<h5>So far you've guessed:</h5>
{{#each model.guesses as |guess|}}
<h6>{{guess.who}} in the {{guess.where}} with the {{guess.how}}.</h6>
{{/each}} -->
