<h1>Welcome to Clue!</h1>

<h3>Choose a character:</h3>

<button class="btn btn-default" {{action 'newGame' "Miss Scarlet"}}>Miss Scarlet</button>
<button class="btn btn-default" {{action 'newGame' "Professor Plum"}}>Professor Plum</button>
<button class="btn btn-default" {{action 'newGame' "Colonel Mustard"}}>Colonel Mustard</button>
<button class="btn btn-default" {{action 'newGame' "Mrs. White"}}>Mrs. White</button>
<button class="btn btn-default" {{action 'newGame' "Mr. Green"}}>Mr. Green</button>
<button class="btn btn-default" {{action 'newGame' "Mrs. Peacock"}}>Mrs. Peacock</button>
